In [31]:
%matplotlib inline

In [6]:
import numpy as np
import pandas as pd
import datetime

In [14]:
start = datetime.datetime(year=2014, month=7, day=23, hour=4)
end = datetime.datetime(year=2014, month=7, day=24, hour=4)
# dt = datetime.timedelta(minutes=5)
# times = [begin + i*dt for i in range()]

In [96]:
times = pd.date_range(start=start, end=end, freq="5s", closed='left')

In [73]:
awake_hour = np.hstack((np.zeros(9), np.ones(22-9), np.zeros(3)))

In [84]:
samples_per_hour = 60 * 60/5

In [94]:
awake = np.hstack((np.zeros(8 * samples_per_hour),
                    np.ones((22-8) * samples_per_hour),
                    np.zeros(2 * samples_per_hour)))

In [98]:
df = pd.DataFrame(data=np.array((awake,)).T, index=times, columns=['awake'])
# df.resample('5s')
# df['datetime'] = times.to_datetime()

In [99]:
df

                     awake
2014-07-23 04:00:00    0.0
2014-07-23 04:00:05    0.0
2014-07-23 04:00:10    0.0
2014-07-23 04:00:15    0.0
2014-07-23 04:00:20    0.0
2014-07-23 04:00:25    0.0
2014-07-23 04:00:30    0.0
2014-07-23 04:00:35    0.0
2014-07-23 04:00:40    0.0
2014-07-23 04:00:45    0.0
2014-07-23 04:00:50    0.0
2014-07-23 04:00:55    0.0
2014-07-23 04:01:00    0.0
2014-07-23 04:01:05    0.0
2014-07-23 04:01:10    0.0
2014-07-23 04:01:15    0.0
2014-07-23 04:01:20    0.0
2014-07-23 04:01:25    0.0
2014-07-23 04:01:30    0.0
2014-07-23 04:01:35    0.0
2014-07-23 04:01:40    0.0
2014-07-23 04:01:45    0.0
2014-07-23 04:01:50    0.0
2014-07-23 04:01:55    0.0
2014-07-23 04:02:00    0.0
2014-07-23 04:02:05    0.0
2014-07-23 04:02:10    0.0
2014-07-23 04:02:15    0.0
2014-07-23 04:02:20    0.0
2014-07-23 04:02:25    0.0
...                    ...
2014-07-24 03:57:30    0.0
2014-07-24 03:57:35    0.0
2014-07-24 03:57:40    0.0
2014-07-24 03:57:45    0.0
2014-07-24 03:57:50    0.0
2014-07-24 03:57:55    0.0
2014-07-24 03:58:00    0.0
2014-07-24 03:58:05    0.0
2014-07-24 03:58:10    0.0
2014-07-24 03:58:15    0.0
2014-07-24 03:58:20    0.0
2014-07-24 03:58:25    0.0
2014-07-24 03:58:30    0.0
2014-07-24 03:58:35    0.0
2014-07-24 03:58:40    0.0
2014-07-24 03:58:45    0.0
2014-07-24 03:58:50    0.0
2014-07-24 03:58:55    0.0
2014-07-24 03:59:00    0.0
2014-07-24 03:59:05    0.0
2014-07-24 03:59:10    0.0
2014-07-24 03:59:15    0.0
2014-07-24 03:59:20    0.0
2014-07-24 03:59:25    0.0
2014-07-24 03:59:30    0.0
2014-07-24 03:59:35    0.0
2014-07-24 03:59:40    0.0
2014-07-24 03:59:45    0.0
2014-07-24 03:59:50    0.0
2014-07-24 03:59:55    0.0

[17280 rows x 1 columns]

In [100]:
df.to_json('../data/awake.json', orient='records', date_format='iso', date_unit='s')